@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 238, 238);
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 57, 57);
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 10px 0;
}

p {
    margin: 0;
    font-size: 20px;
}

a {
    color: rgb(162, 0, 255);
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}

.dark a {
    color: rgb(246, 169, 241);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.switch {
    width: 80px;
    height: 40px;
    background-color: rgb(39, 37, 37);
    border-radius: 20px;
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 0.3s;
    box-shadow:
     inset 4px 4px 4px rgb(255, 255, 255),
     inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 4px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.dark > * {
    color: white;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main-text {
 
    padding: 30px;
    margin-bottom: 100px;
}

.square {
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5%;
}

.dark .square {
    background-color: rgb(71, 71, 71);
}

#tictactoe {
    background-image: url("images/ticx.png");
    background-size: cover;
}

#library {
    background-image: url("images/libx.png");
    background-size: cover;
}

#airline {
    background-image: url("images/airline.png");
    background-size: cover;
}

#rescue {
    background-image: url("images/rescue.png");
    background-size: cover;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}


.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    /* background-color: pink; */
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    /* background-color: blue; */
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}


.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    /* background-color: red; */
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: 100px;
    bottom: 60px;
    background-image: url(images/htmlx.png);
    background-size: cover;
    background-color: rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgba(0, 0, 0, 0.25);
}

#html::before {
    background-color: rgb(189, 154, 221);
}

#html::after {
    background-color: rgb(205, 186, 221);
}

#java {
    left: 250px;
    bottom: 240px;
    background-image: url(images/javax.png);
    background-size: cover;
    background-color: rgb(160, 153, 157);
    box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.25);
}

#java::before {
    background-color: rgb(112, 109, 116);
}

#java::after {
    background-color: rgb(92, 87, 90);
}

#javascript {
    left: 450px;
    bottom: 200px;
    background-image: url(images/jsx.png);
    background-size: cover;
    background-color: rgb(217, 219, 80);
    box-shadow: -40px 40px 20px rgba(0, 0, 0, 0.25);
}

#javascript::before {
    background-color: rgb(253, 255, 134);
}

#javascript::after {
    background-color: rgb(155, 156, 61);
    
}



#php {
    left: 350px;
    bottom: 40px;
    background-image: url(images/phpx.png);
    background-size: cover;
    background-color: rgb(62, 62, 158);
    box-shadow: -80px 80px 20px rgba(0, 0, 0, 0.25);
}

#php::before {
    background-color: rgb(115, 66, 161);
}

#php::after {
    background-color: rgb(58, 19, 90);
}



footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(126, 126, 126);
}

.dark footer {
    background-color: rgb(39, 39, 39);
}

@media only screen and (min-width: 970px){
    .main-text {
        width: 50%;
    }
    .square {
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-image {
        display: none;
    }
}